

@media(max-width: 800px){
.assignmnetList {
    max-width: 380px;
    height: 70vh;
    min-height: 546px;
    max-height: 650px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;

    .assignmentWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        padding: 80px 30px 52px 30px;

        .assignment {
            width: 120px;
            height: 120px;
            background-color: gray;
            border-radius: 50%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .arrowButtons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        top: 52px;

        button {
            i {
                font-size: 28px;
            }
        }
    }
}}

@media(min-width: 800px){

    .assignmnetList {
        max-width: 960px;
        height: 70vh;
        min-height: 546px;
        max-height: 650px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
        display: flex;
        justify-content: center;
    
    
        .assignmentWrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 90px;
        }
    
        .assignment {
            width: 200px;
            height: 200px;
            background-color: gray;
            border-radius: 50%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .arrowButtons {
            display: flex;
            justify-content: space-around;
            width: 100%;
            position: absolute;
            top: 48px;
        }
    }
}
