.logoButton {
    margin: 15px 0 0 0;
    height: 15vh;
    max-height: 100px;
}

@media (min-width: 800px) {
    .logoButton {
        position: absolute;
        left: 0%;
        top: 0%;
        height: 100%;
        max-height: 100%;
        width: auto;
    }
}