@media (max-width: 800px) {
    .infoNpc {
        height: 30vh;
        width: auto;
    }
}

@media (min-width: 800px) {
    .infoNpc {
        height: 35vh;
        width: auto;
        margin-bottom: 25vh;
        margin-left: 10vw;
    }
}
