.subjectListWrapper {
    background-image: url("../../assets/mobile_subjectList.png");
    width: 90%;
    height: 100%;
    top: 0%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .subjectList {
        width: 90%;
        max-width: 340px;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
    }
}

@media (min-width: 800px) {
    .subjectListWrapper {
        background-image: url("../../assets/desktop_subjectList.png");
        width: 100%;
        height: 50vh;
        min-width: 500px;
        top: 0%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    
        .subjectList {
            width: 100%;
            max-width: 500px;
            height: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: auto;
        }
    }
}

