.mainPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}