.mainPageContainer {
  position: absolute;
    top: 15vh;
    width: 100vw;
    min-width: 350px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.desktopMainPageContainer {
  position: absolute;
  top: 15vh;
  right: 5vw;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 35px;
}