.assignmentWrapper {
    position: absolute;
    height: 100%;
    top: 0%;
    width: 100%;
    color: white;
    margin-top: 20px;

    .assignmentContainer{
        width: 100%;
        height: 80vh;
        margin-top: 100px;

        .name, .concept, .teamname, .members, .description, .whiteRectangle, a {
            padding: 0 50px;
        }

        .concept, .teamname, .members, .description, a {
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
        }

        .teamname, .members, .description {
            font-size: 1.25rem; 
         }

        .name {
            font-size: 2.25rem;
            font-weight: bold;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
            margin: 4px 0 22px;
        }

        .concept {
           font-size: 1.25rem;
        }

        .mainImage {
            display: flex;
            margin: 30px 0;
            width: 100vw;
            height: auto;
        }

        .concept:after {
            content: "";
            width: 26px;
            height: 6px;
            background-color: white;
            display: block;
            padding: 8p;
            margin: 18px 0 20px 0;
        }

        .members {
            margin: 4px 0 16px 0;
        }

        .description{
            font-size: 1.25rem;
            font-weight: 400;
        }

        .link {
            width: 100%;
            height: 180px;
            border: none;
            margin-top: 40px;
            display: block;
        }

        .toAssignment {
            font-size: 24px;
            color: white;
            display: flex;
            padding: 32px 0;
            justify-content: center;
        }
    }
}

@media(min-width: 800px) {
    .assignmentWrapper {
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        .assignmentContainer{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 100px 0 0 280px;
            width: 50%;

            .alignImageContainer {
                display: flex;
            }
            
            .name, .concept, .teamname, .members, .description, .whiteRectangle, a {
                padding: 0 50px;
            }
    
            .concept, .teamname, .members, .description, a {
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
            }
    
            .teamname, .members, .description {
                font-size: 1.4rem; 
             }
    
            .name {
                font-size: 3rem;
                font-weight: normal;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
                margin: 4px 0 22px;
            }
    
            .concept {
               font-size: 1.5rem;
            }
    
            .mainImage {
                height: 32vh;
                width: auto;
                position: absolute;
                right: 14vw;
            }
    
            .concept:after {
                content: "";
                width: 26px;
                height: 6px;
                background-color: white;
                display: block;
                padding: 8p;
                margin: 18px 0 20px 0;
            }
    
            .members {
                margin: 4px 0 16px 0;
            }
    
            .description{
                font-size: 1.4rem;
                font-weight: 400;
            }
    
            .link {
                width: 100%;
                height: 180px;
                border: none;
                margin-top: 40px;
                display: block;
            }
            .buttonContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                right: 14vw;
                margin-top: 28vh;

                a {
                    color: white;
                    font-size: 1.4rem;

                }
            }
        }
    }

    .desktopMainPageContainer {
    position: absolute;
    top: 15vh;
    right: 5vw;
    width: 80vw;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 35px;
  }
}