.assignmentWrapper {
    position: absolute;
    height: 100%;
    top: 0%;
    width: 100%;
    color: white;

    .assignmentContainer{
        width: 100%;
        height: 80vh;
        margin-top: 100px;

        h2, h3, h4, h5, p {
            margin: 0;
        }

        .name, .concept, .teamname, .members, .description, .whiteRectangle, a {
            padding: 0 50px;
        }

        .concept, .teamname, .members, .description, a {
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
        }

        .teamname, .members, .description {
            font-size: 1.25rem; 
         }

        .name {
            font-size: 2.25rem;
            font-weight: bold;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
            margin: 4px 0 22px;
        }

        .concept {
           font-size: 1.25rem;
        }

        .mainImage {
            height: 180x;
            display: flex;
            margin: auto;
        }

        .concept:after {
            content: "";
            width: 26px;
            height: 6px;
            background-color: white;
            display: block;
            padding: 8p;
            margin: 18px 0 20px 0;
        }

        .members {
            margin: 4px 0 16px 0;
        }

        .description{
            font-size: 1.25rem;
        }

        .link {
            width: 100%;
            height: 180px;
            border: none;
            margin-top: 40px;
            display: block;
        }

        .toAssignment {
            font-size: 24px;
            color: white;
            margin-top: 12px;
            display: flex;
            justify-content: center;
        }
    }
}

@media(min-width: 800px) {
    .assignmentWrapper {
        position: absolute;
        height: 100%;
        top: 0%;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
        .assignmentContainer{
            width: 70%;
            height: 80vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            transform : translateX(120px);

            .alignImageContainer {
                display: flex;
            }
    
            h2, h3, h4, h5, p {
                margin: 0;
            }
    
            .name, .concept, .teamname, .members, .description, .whiteRectangle, a {
                padding: 0 50px;
            }
    
            .concept, .teamname, .members, .description, a {
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
            }
    
            .teamname, .members, .description {
                font-size: 1.25rem; 
             }
    
            .name {
                font-size: 2.25rem;
                font-weight: normal;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
                margin: 4px 0 22px;
            }
    
            .concept {
               font-size: 1.25rem;
            }
    
            .mainImage {
                height: 250px;
                display: flex;
                margin-left: 50px;
            }
    
            .concept:after {
                content: "";
                width: 26px;
                height: 6px;
                background-color: white;
                display: block;
                padding: 8p;
                margin: 18px 0 20px 0;
            }
    
            .members {
                margin: 4px 0 16px 0;
            }
    
            .description{
                font-size: 1.25rem;
            }
    
            .link {
                width: 100%;
                height: 180px;
                border: none;
                margin-top: 40px;
                display: block;
            }
            .buttonContainer{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70vw;
                margin-top: 50px;
                transform: translateX(-120px);

            .toAssignment {
                font-size: 24px;
                color: white;
                margin-top: 16px;
            

            }

            .toOtherAssignment {
                font-size: 24px;
                color: white;
                margin-top: 16px;
        
            }
        }
        }
    }
}