.IntroBackground {
    background-image: url(./assets/MobileIntro.png);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.IntroContainer {
    width: 100%;
    height: 100%;
}

.IntroEnter {
    width: 30vw;
    height: 5vh;
}