.IntroImage {
    width: 70%;
    height: auto;
    
}

.IntroContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.IntroEnter {
    width: 30vw;
    height: 5vw;
}