
.IntroContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0%;

}


.IntroImage{
    background-image: url(../../assets/mobiletitle.png);
    width: auto;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.Logo{
    max-width: 100vw;
    margin-bottom: 60px;
    margin-top: 60px; 
}

.IntroImage[data-click = 'true'] {
    animation: title 1.5s 1;
}


.Logo[data-click = 'true'] {
    animation: logo 1.5s 1;
}

.IntroEnter {
    position: absolute;
    bottom: 10%;
    width: 60vw;
    height: auto;
    font-size : 1rem;
    background-color: rgba(200,200,200,0.7);
    border-radius: 50px;
    font-weight: bold;
    line-height: 5vh;
    padding: 7px;

}


@keyframes logo {
    100% {
        transform: rotate(360deg);
    }

}

@keyframes title {
    100% {
        transform: rotate(-180deg);
    }

}

@media (min-width: 800px) {
    .IntroContainer {
        height: 100%;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .IntroImage{
        background-image: url(../../assets/DesktopTitle.png);
        width: 100%;
        height: auto;
        background-position: center center;
        background-repeat: no-repeat;
        /* background-size: auto; */
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .Logo{
        max-width: 80vw;
        margin-bottom: 60px;
        margin-top: 60px; 
    }
    
    .IntroImage[data-click = 'true'] {
        animation: title 1.5s 1;
    }
    
    
    .Logo[data-click = 'true'] {
        animation: logo 1.5s 1;
    }
    
    .IntroEnter {
        position: absolute;
        bottom: 10%;
        width: 20vw;
        height: 5vh;
        font-size : 1rem;
        background-color: rgba(200,200,200,0.7);
        border-radius: 50px;
        font-weight: bold;
        line-height: 5vh;
        
    
    }
    
    
    @keyframes logo {
        100% {
            transform: rotate(360deg);
 
        }
    
    }
    
    @keyframes title {
        100% {
            transform: rotate(-180deg);

        }
    
    }

}

// @media (min-width: 1441px) {
//     .IntroContainer {
//         height: 100%;
//         width: 100%;
        
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
    
    
//     .IntroImage{
//         background-image: url(../../assets/DesktopTitle.png);
//         width: 100vw;
//         height: 100vh;
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-size: 100% 100%;
    
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
    
    
//     .Logo{
//         width: 100vh;
//         margin-bottom: 60px;
//         margin-top: 60px; 
//     }
    
//     .IntroImage[data-click = 'true'] {
//         animation: title 1.5s 1;
//     }
    
    
//     .Logo[data-click = 'true'] {
//         animation: logo 1.5s 1;
//     }
    
//     .IntroEnter {
//         position: absolute;
//         bottom: 5%;
//         width: 20vw;
//         height: 5vh;
//         font-size : 2rem;
//         background-color: rgba(200,200,200,0.7);
//         border-radius: 50px;
//         font-weight: bold;
//         line-height: 5vh;
        
    
//     }
    
    
//     @keyframes logo {
//         100% {
//             transform: rotate(360deg);
 
//         }
    
//     }
    
//     @keyframes title {
//         100% {
//             transform: rotate(-180deg);

//         }
    
//     }

// }