.assignmnetList {
    max-width: 900px;
    height: 70vh;
    min-height: 546px;
    max-height: 650px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;

    .assignmentWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        padding: 80px;

    .assignment {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }
}
