.EventPageContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0%;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.EventLetter {
    position: absolute;
    width: 50vw;
    height: auto;
    top: 50%;
    right: -8%;

}


.TextContainer{
    height: 40vh;
    width: 100vw;
    text-align: center;
    margin-top: 50px;

}

.EventTitle {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.25rem;
    text-shadow: 4px 4px 4px black;
    
}

.EventContent{
margin: 0;
color: white;
font-size: 1.3em;
text-shadow: 2px 2px 3px black;


}

.EventFiveLetter{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 2px 2px 3px black;

}

.EventBoard {
    background-image: url(../../assets/Event_board.png);
    height: 40vh;
    width: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;   
    margin :0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.BoardTitle{
    margin-bottom: 0;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}

.EventButton {
    height: 5vh;
    width: 40vw;
    padding: 0;
}

input {
    font-size: 1.5rem;
}


@media (min-width: 800px) {    

    .EventPageContainer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .DeskTopBoard {
        background-image: url(../../assets/DesktopBoard.png);
        height: auto;
        width: 80vw;

        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;    
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .EventLetter {
        position: absolute;
        width: 20vw;
        height: auto;
        top: 35%;
        right: 20%;

    }


    .DeskTopTextContainer {
        margin-top: 180px;
        width: 50vw;
        height: auto;
        line-height: 1.6;
        transform: translateX(-50px);
        

    }

    .DeskTopText {
        color: white;
        font-size: 2.1rem;
        text-shadow: 2px 2px 3px black;

    }

    .DeskTopText2 {
        color: white;
        margin-top: 80px;
        font-size: 1.5rem;
        text-shadow: 2px 2px 3px black;
        font-weight: normal

    }

    .DeskTopFiveLetter {
        font-weight: 900

    }

    .DeskTopInputContainer {
        width: 70vw;
        height: 30vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .InputTitle {
        font-weight: bold;
        color: white;
        font-size: 2.5rem;
        margin: 30px  0;
        text-shadow: 2px 2px 3px black;
        transform: translateX(-60px);
       
    }

    .DeskTopInput {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;

    }

    .DeskTopEventButton {
        width: 7vw;
        height: 7vh;
        margin-left: 20px;
        font-size: 1.2rem;
    
    }

    input {
        font-size: 2.2rem;
        line-height: 1.5;
    }
}    


@media (min-width: 801px) and (max-width: 1024px) {    

    .EventPageContainer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .DeskTopBoard {
        background-image: url(../../assets/DesktopBoard.png);
        height: auto;
        width: 80vw;

        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;    
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        transform: translateX(50px) translateY(50px);

    }

    .EventLetter {
        position: absolute;
        width: 20vw;
        height: auto;
        top: 55%;
        right: 15%;

    }


    .DeskTopTextContainer {
        margin-top: 180px;
        width: 65vw;
        height: auto;
        line-height: 1.6;
        

    }

    .DeskTopText {
        color: white;
        font-size: 2.1rem;
        text-shadow: 2px 2px 3px black;
        margin-left: 80px;

    }

    .DeskTopText2 {
        color: white;
        margin-top: 80px;
        font-size: 1.5rem;
        text-shadow: 2px 2px 3px black;
        font-weight: normal;
        margin-left: 80px;

    }

    .DeskTopFiveLetter {
        font-weight: 900

    }

    .DeskTopInputContainer {
        width: 70vw;
        height: 30vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .InputTitle {
        font-weight: bold;
        color: white;
        font-size: 2.5rem;
        margin: 50px 0 0 0;
        text-shadow: 2px 2px 3px black;
        transform: translateX(-40px);
       
    }

    .DeskTopInput {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;

    }

    .DeskTopEventButton {
        width: 10vw;
        height: 7vh;
        margin-left: 20px;
    
    }

    input {
        font-size: 2.2rem;
        line-height: 1.5;
    }
}    